&__goods {
  width: 109px;
  height: 90px;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 13px;
  left: 13px;
  background-image: url("../images/casual-dishes.png");
}
