&__inside {
  width: 420px;
  height: 223px;
  background: url("../images/kettle-inside.png") 7px 7px no-repeat;
  border-radius: 20% 14% 27% 33%;
  position: absolute;
  top: 84px;
  left: 200px;
  overflow: hidden;
}
