&__slider-left {
  position: absolute;
  left: 0;
  bottom: 7px;
  width: 24px;
  height: 27px;
  background: url("../images/switch-triangle-left.png");
  cursor: pointer;

  &:hover {
    background-image: url("../images/switch-triangle-active.png");
    transform: rotate(180deg);
  }
}
