.goods {
  display: block;

  &:hover .goods__container {
    transform: rotateY(360deg);
  }

  // &:hover .goods__container {
  //   animation: scale .7s;
  // }

  // @keyframes scale {
  //   from { transform: scaleX(1);}
  //   50% { transform: scaleX(-1);}
  //   to { transform: scaleX(1);}
  // }

  @import "__circle/__circle.scss";
  @import "__info/__info.scss";
  @import "__cost/__cost.scss";
  @import "__title/__title.scss";
  @import "__container/__container.scss";
  @import "__detail-text/__detail-text.scss";
}
