&__slider-title {
  font-size: 36px;
  font-family: 'doux';
  color: #fff;
  text-align: center;
  transition: color .1s;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;

  &:hover {
    color: #e4e0e0;
  }
}
