&__head {
  height: 34px;
  width: 80px;
  background: url("../images/kettle-small-head.png") no-repeat;
  position: absolute;
  top: 33px;
  left: 49px;
  transition: top .4s, left .4s, transform .4s;

  @import "_opened/_opened.scss";
}
