&__detail-text {
  padding: 10px 0;

  img {
    margin: 10px auto;
  }

  img:not([align]) {
    display: block;
  }

  img[align="left"] {
    margin-right: 10px;
  }

  img[align="right"] {
    margin-left: 10px;
  }
}
