&__section-left {
  font-family: 'Roboto Slab Light';
  font-size: 11px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #557e00;
  box-shadow: 0 0 10px #3e6300 inset;
  border-radius: 2px;
}
